*
{
    margin: 0%;
    padding: 0%;
}

.main{
    background-color: rgb(232, 231, 230);
}
.col{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropdown{
    display: none;
}
.col i{
    display: none;
}
.raw{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.col-2{
    display: flex;
    margin-right: 500px;
}
.col-2 a{
    margin-top: 8px;
    text-decoration: none;
    color: black;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    padding: 20px 20px;
}
.title{
    height: 350px;
    width: 100%;
    background-image: url(page-title.webp);
    background-size: cover;
    background-position-y: 90px;
    background-position-x: center;
    background-size: 1700px;
}
.title h1{
    z-index: 1;
    color: white;
    padding-top: 200px;
    margin-left: 200px;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
}
.link{
    display: flex;
    margin-top: -50px;
    font-family: "Dancing Script", cursive;
}
.title a{
    text-decoration: none;
    color: gray;
    font-size: 25px;
    margin-left: 950px;
}
.title p{
    color: aliceblue;
    font-size: 25px;
}
.about{
    display: flex;
    background-color: white;
}
.text{
    width: 50%;
}
.text img{
    padding: 100px;
}
.text p{
    margin-top: -80px;
    margin-left: 110px;
    font-size: 20px;
    color: gray;
    letter-spacing: -1px;
}
.text h1{
    color: red;
    margin-left: 100px;
    font-size: 60px;
    font-weight: normal;
    font-family: "Dancing Script", cursive;
}
.text h6{
    font-size: 20px;
    color: gray;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: normal;
}
.img1 {
    width: 50%;
    margin-top: 100px;
}
.img1 img{
    height: auto;
    width: 100%;
}
.content{
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 50px;
}
.content:hover{
    color: red;
}
.imgs{
    text-align: center;
}
.imgs img{
    margin-top: 100px;
}
.imgs h1{
    color: red;
    font-size: 60px;
    font-family: "Dancing Script", cursive;
}
.pics{
    display: flex;
}
.p1{
    margin: 0 auto;
}
.p1 img{
    margin-top: 0px;
    height: 300px;
}
.p1 p{
    font-family: "dancing script", cursive;
    font-size: 25px;
    margin-right: 200px;
    margin-top: 20px;
}
.p1 h6{
    color: gray;
    margin-right: 200px;
    font-weight: light;
}
.p1 h5{
    color: gray;
    margin-right: 200px;
    margin-top: 10px;
}
.p2{
    margin: 0 auto;
}
.p2 img{
    margin-top: 0px;
    height: 300px;
}
.p2 p{
    font-family: "dancing script", cursive;
    font-size: 25px;
    margin-right: 200px;
    margin-top: 20px;
}
.p2 h6{
    color: gray;
    margin-right: 200px;
    font-weight: light;
}
.p2 h5{
    color: gray;
    margin-right: 200px;
    margin-top: 10px;
}
.p3{
    margin: 0 auto;
}
.p3 img{
    margin-top: 0px;
    height: 300px;
}
.p3 p{
    font-family: "dancing script", cursive;
    font-size: 25px;
    margin-right: 200px;
    margin-top: 20px;
}
.p3 h6{
    color: gray;
    margin-right: 200px;
    font-weight: light;
}
.p3 h5{
    color: gray;
    margin-right: 200px;
    margin-top: 10px;
}
.view{
    margin-left: 100px;
    margin-top: 100px;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 50px;
}
.view:hover{
    color: red;
}
.moment{
    display: flex;
    background-color: red;
    justify-content: space-between;
}
.pic1{
    margin-left: 50px;
    margin-top: 20px;
}
.special{
    font-family: "dancing script", cursive;
    color: white;
    background-color: red;
    border: none;
    padding: 20px 50px;
    font-size: 35px;
    margin-top: 65px;
    box-shadow: 0px 0px 51px -20px rgba(0, 0, 0, 0.5);
}
.lastbar{
    text-align: center;
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}
.follow{
    margin-left: 50px;
    width: 300px;
}
.follow p{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}
.follow i{
    color: red;
    font-size: 30px;
    padding: 20px 20px;
}
.contact{
    margin-left: 20px;
    width: 300px;
}
.contact h3{
    font-family: "Dancing Script", cursive;
}
.contact i{
    color: red;
    font-size: 30px;
    padding: 20px 20px;
    margin-right: 200px;margin-top: 20px;
}
.contact p{
    font-size: 17px;
    margin-top: -55px;
    margin-left: 20px;
}
.contact a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    margin-left: 20px;
}
.letest2{
    margin-left: 20px;
    width: 300px;
}
.letest2 h3{
    font-family: "Dancing Script", cursive;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.pic2{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.pic2 img{
    height: 120px;
    margin-top: 5px;
    padding-bottom: 30px;
    margin-left: -150px;
}
.pic2 h5{
    font-size: 15px;
    margin-left: 120px;
    margin-top: -85px;
}
.pic3{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.pic3 img{
    height: 90px;
    margin-left: -150px;
    margin-top: -40px;

}
.pic3 h5{
    font-size: 13px;
    margin-left: 120px;
    margin-top: -50px;
}
.letest2 a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: -130px;
    margin-top: -50px;
}
.map{
    margin-left: 50px;
    width: 300px;
}
.map h3{
    font-family: "Dancing Script", cursive;
}
.map iframe{
    height: 200px;
    width: 100%;
    margin-top: 30px;
}
.develop{
    margin-top: 50px;
}
.develop p{
    text-align: center;
    padding: 30px;
    color: gray;
    background-color: black;
}
.develop a{
    text-decoration: none;
    color: rgb(207, 200, 200);
}
@media only screen and (min-width:320px) and (max-width:480px){
    .col-2{
        font-size: smaller;
        display: block;
        display: none;
    }
    .col{
        margin-left: 10px;
        margin-top: 10px;
    }
    .dropdown{
        display:contents;
    }
    .col img{
        height: 30px;
    }
    .dropbtn {
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: white;
      }
      .letest h1{
        font-size: 30px;
    }
    .lastbar{
        margin-top: -150px;
        width: 100%;
        display: block;
    }
    .follow{
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }
    .contact{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .letest2{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .map{
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
    }
    .develop{
        font-size: 7px;
    }
    .title{
        height: 160px;
        background-size: 650px;
        background-position-y: bottom;
    }
    .link{
        display: none;
    }
    .about{
        display: block;
    }
    .text{
        width: 100%;
    }
    .text img{
        margin-left: -80px;
        margin-top: -50px;
    }
    .text p{
        margin-left: 25px;
    }
    .text h1{
        font-size: 40px;
        margin-left: 20px;
    }
    .text h6{
        font-size: 15px;
        margin-left: 20px;
    }
    .content{
        padding: 10px 10px;
        margin-left: 30px;
    }
    .img1{
        margin-top: -30px;
        height: auto;
        width: auto;
    }
    .img1 img{
        height: auto;
        width: 100%;
    }
    .imgs h1{
        font-size: 50px;
    }
    .pics{
        display: block;
        text-align: center;
    }
    .pics img{
        height: 200px;
    }
    .moment{
        display: block;
    }
    .pic5{
        display: none;
    }
    .pic1{
        margin-left: 10px;
    }
    .special{
        padding: 0px 50px;
        margin-top: 0px;
    }
    .view{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 h6{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 h6{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 h6{
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    .dropbtn {
        margin-top: 10px;
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: white;
      }
    .col-2{
        display: block;
        display: none;
    }
    .col img{
        height: 30px;
    }
    .lastbar{
        margin-top: -100px;
        width: 100%;
        display: block;
    }
    .follow{
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
    .contact{
        margin-left: auto;
        margin-right: auto;
    }
    .letest2{
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .map{
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
    }
    .develop{
        font-size: 10px;
    }
    .pics{
        display: block;
    }
    .link{
        display: none;
    }
    .pic5{
        display: none;
    }
    .about{
        display: block;
    }
    .text{
        width: 100%;
    }
    .text img{
        margin-left: -80px;
        margin-top: -50px;
    }
    .text p{
        margin-left: 25px;
    }
    .text h1{
        font-size: 40px;
        margin-left: 20px;
    }
    .text h6{
        font-size: 15px;
        margin-left: 20px;
    }
    .content{
        padding: 10px 10px;
        margin-left: 30px;
    }
    .title{
        height: 280px;
        background-size: 1400px;
        background-position-y: bottom;
    }
    .img1{
        margin-top: -30px;
        height: auto;
        width: auto;
    }
    .img1 img{
        height: auto;
        width: 100%;
    }
    .imgs h1{
        font-size: 50px;
    }
    .pics{
        display: block;
        text-align: center;
    }
    .pics img{
        height: 350px;
    }
    .moment{
        display: block;
        height: 200px;
    }
    .pic5{
        display: none;
    }
    .pic1{
        margin-left: 10px;
    }
    .special{
        padding: 0px 50px;
        margin-right: auto;
        margin-left: auto;

    }
    .view{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p1 h6{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p2 h6{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 p{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 h5{
        margin-right: auto;
        margin-left: auto;
    }
    .p3 h6{
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width:560px) and (max-width:768px){
    .moment{
        display: flex;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .col{
        margin-left: 20px;
    }
    .col-2{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 450px;
    }
    .col-2 a{
        font-size: 28px;
        padding: 10px 10px;
    }
    .pics{
        display: block;
    }
    .link{
        display: none;
    }
    .lastbar{
        margin-right: 0px;
    }
    .lastbar h3{
        font-size: large;
    }
    .lastbar p{
        font-size: small;
    }
    .follow{
        margin-left: 10px;
        margin-right: auto;
    }
    .follow img{
        height: 30px;
    }
    .follow p{
        font-size: small;
    }
    .follow i{
        font-size: large;
    }
    .contact{
        margin-left: -40px;
        margin-right: auto;
    }
    .contact h3{
        font-size: large;
        margin-left: -50px;
    }
    .contact p{
        margin-top: 10px;
        margin-left: -50px;
    }
    .contact i{
        font-size: large;
        margin-left: 100px;
        margin-top: auto;
    }
    .contact a{
        margin-left: -50px;
    }
    .letest2{
        margin-left: -40px;
        margin-right: auto;
    }
    .letest2 .pic2 img{
        height: 100px;
    }
    .letest2 .pic3 img{
        height: 70px;
    }
    .letest2 h5{
        margin-left: 70px;
        
    }
    .map{
        margin-left: 30px;
        margin-right: 10px;
    }
    .about{
        display: block;
    }
    .text{
        width: 100%;
    }
    .img1{
        margin-top: -30px;
        height: auto;
        width: auto;
    }
    .img1 img{
        height: auto;
        width: 100%;
    }
    .view{
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width:870px) and (max-width:1024px){
    .pics{
        display: flex;
    }
    .p1 img{
        margin-top: 0px;
        height: 200px;
    }
    .p1 p{
        font-family: "dancing script", cursive;
        font-size: 25px;
        margin-right: auto;
        margin-top: 20px;
        margin-left: auto;
    }
    .p1 h6{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        font-weight: light;
    }
    .p1 h5{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }
    .p2{
        margin: 0 auto;
    }
    .p2 img{
        margin-top: 0px;
        height: 200px;
    }
    .p2 p{
        font-family: "dancing script", cursive;
        font-size: 25px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .p2 h6{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        font-weight: light;
    }
    .p2 h5{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }
    .p3{
        margin: 0 auto;
    }
    .p3 img{
        margin-top: 0px;
        height: 200px;
    }
    .p3 p{
        font-family: "dancing script", cursive;
        font-size: 25px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .p3 h6{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        font-weight: light;
    }
    .p3 h5{
        color: gray;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }
    .about{
        display: flex;
    }
    .img1{
        margin-top: auto;
        margin-bottom: auto;
        height: auto;
        width: 50%;
    }
    .img1 img{
        height: auto;
        width: 100%;
    }
    .text{
        margin-left: -50px;
        width: 50%;
    }
    .view{
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px){
    .pics img{
        height: 250px;
    }
    .link{
        margin-left: -200px;
    }
    .view{
        margin-right: auto;
        margin-left: auto;
    }
}