*{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
}
.main{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: gray;
}
.input{
    border: 5px solid red;
}
.input input{
    height: 100px;
    width: 385px;
    font-size: 50px;
    border: 3px solid blue;
    
}
.buttons{
    text-align: right;
}
#z{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#one{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#two{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#three{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#four{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#five{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#six{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#seven{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#eight{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#nine{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#clear{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#negetive{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#delete{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#divid{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#multi{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#muinus{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#plsue{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#eqalto{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
button{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}
#pers{
    height: 50px;
    width: 80px;
    text-align: center;
    margin-right: 14px;
    margin-top: 25px;
    font-size: 25px;
}